<div class="row">

    <!--Grid column-->
    <div class="col-md-12 px-5">
        <mat-card style="background-image: url('http://localhost:4200/assets/banner-think-green-think-clean-crop.jpg');">
        <div class="text-white text-left d-flex align-items-center rgba-black-strong">
            <div style="padding: 6%; padding-bottom: 10%;" >
                <h3 class="card-title"><strong>
                    <span class="row" style="font-family: ARIAL NARROW;">
                        <span class="col-sm-5" style="font-size: 1.5em;">
                                ALWAYS WORKING TOWARDS A SUSTAINABLE ENVIRONMENT
                        </span>
                    </span>
                </strong></h3>
            </div>
        </div>
        </mat-card>
    </div>
    <!--Grid column-->

</div>