<!-- <div class="jumbotron jumbotron-fluid banner">
  <div class="container">
    <!-- <h1 class="display-4 text-white about-us"><b>SERVICE</b></h1> --!>
  </div>
</div> -->
<app-banner-cmp></app-banner-cmp>
<div class="feat bg-gray pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="section-head col-sm-12">
        <h4><span>Why Choose</span> Us?</h4>
        <p>Clean slate solutions have been the industry's standard to deal with their waste for the last three decades.<br>
           From waste to recycling to food and organics, we have the right scheduled pickup services for your home or business.<br>
           We have been setting the industry standards with most efficient picking and disposing of waste <br> and you can be assured of the highest quality waste management products & services.
          </p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-users"></i></span>
          <h6>Client Oriented Approach</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-inr"></i></span>
          <h6>Value for Money</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-cog fa-spin"></i></span>
          <h6>Efficiency</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-copyright"></i></span>
          <h6>Innovation</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-globe fa-spin"></i></span>
          <h6>Social Responsibility</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-leaf"></i></span>
          <h6>Environmental Complaince and Hygine</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
        </div>
      </div>
    </div>
  </div>
</div>