<div class="fluid-container overflow-hide" >
  <h1>BUSINESS</h1>
  <h5>Check available services for your business address. <i class="fa fa-info-circle"  data-toggle="tooltip" title="We only use your address to show which services are available" style="color: red;"></i></h5>
  <div class="row">
    <div class="col-sm-6">
    <input class="form-control form-control-lg" type="text" placeholder="&#xf276; &nbsp; MG Road Bengaluru, Karnataka
" style="border: 2px green solid;  width: 100%; font-family:Arial, FontAwesome;">
    </div>
    <div class="col-sm-3">
    <button type="submit" style="border: 2px green solid; background-color: green; color: white; font-size: 1.2em; padding: 2%;">See Your Services</button>
    </div>
  </div>
</div>