<div class="blog-slider mt-4">
    <div class="blog-slider__wrp swiper-wrapper">
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img shadow-lg">
            <img src="http://localhost:4200/assets/no_single_use_plastic.JPG" alt="Image">
        </div>
        <div class="blog-slider__content">
          <div class="blog-slider__title">SAY NO TO SINGLE USE PLASTIC</div>
          <div class="blog-slider__text"> Plastic pollution is one of the greatest threats to ocean health worldwide. With skyrocketing plastic production, low levels of recycling, and poor waste management, between 4 and 12 million metric tons of plastic enter the ocean each year—enough to cover every foot of coastline on the planet! And that amount is expected to more than double in the next 10 years. Let that sink in for a moment.</div>
          <h5 style="color:green; font-size: 1.2em; font-weight: 600; font-family: ARIAL NARROW;">WHAT CAN YOU DO ABOUT IT?? <br><span style="font-size: 0.8em;">LEARN MORE &gt;</span></h5>
        </div>
      </div>  
    </div>
</div>

<div class="blog-slider mt-4 mb-4">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img shadow-lg">
          <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/81GtO04aJAL._SL1500_.jpg" alt="Image"> -->
          <iframe height="100%" src="https://www.youtube.com/embed/U1zzK9twiuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="blog-slider__content">
        <div class="blog-slider__title">GOING ABOVE AND BEYOND IN WASTE MANAGEMENT AND SOLUTIONS</div>
        <div class="blog-slider__text"> We offer management solutions to help you keep your household and business, clean and green. We strive to partner with you in enabling a healthier future, not just as a provider. </div>
        <h5 style="color:green; font-size: 1.2em; font-weight: 600; font-family: ARIAL NARROW;">LEARN MORE &gt;</h5>
      </div>
    </div>  
  </div>
</div>