<div class="jumbotron jumbotron-fluid banner">
  <div class="container">
    <!-- <h1 class="display-4 text-white about-us"><b>ABOUT US</b></h1> -->
  </div>
</div>
<div class="container text-left">
    <h2 class="row col-sm-7" style="font: 1.2em 600; color: #4f4f58;">DRIVEN BY OUR COMMITMENTS, GUIDED BY OUR VALUES</h2>
    <p class="row col-sm-6" style="color: #67696D; font: 1em 400;">In the simplest terms, our values come down to this: <b> Do the Right Thing. </b> <b> The Right Way.</b></p>
    <p class="row col-sm-6 pb-5" style="color: #67696D; font: 1em 400;">This idea sets the standard for our fundamental commitments and core values and guides our daily actions and decisions.</p>
    
    <div class="row pt-2">
        <div class="col-md-4 col-sm-12">
            <div class="row">
              <i class="fa fa-user-o col-sm-2" style="font-size: 3.5em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10">We're Committed to Our People First</h4>
            </div>
            <p class="text-justify">The proud, caring and resilient members of the Waste Management family are the foundation of our success. We commit to taking care of each other, our customers, our communities and the environment.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="fa fa-balance-scale col-sm-2" style="font-size: 3.3em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10 pl-4">We're Committed to Success With Integrity</h4>
          </div>
          <p class="text-justify">Our success is based not only on the results we achieve, but how we achieve them. We commit to being accountable, honest, trustworthy, ethical and compliant in all we do.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="fa fa-plus col-sm-2" style="font-size: 4em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10">We value Inclusion & Diversity</h4>
          </div>
          <p class="text-justify px-1">We embrace and cultivate respect, trust, open communications and diversity of thought and people.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="fa fa-users col-sm-2" style="font-size: 2.5em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10 pt-2">We Value Our Customers</h4>
          </div>
          <p class="px-1 pt-1">We place our customers at the center of what we do and aspire to delight them every day.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="fa fa-warning col-sm-2 pl-4" style="font-size: 2.5em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10 pt-2">We Value Safety</h4>
          </div>
          <p class="pt-1 px-2">We have zero tolerance for unsafe actions and conditions and make safety a core value w/o compromise.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="fa fa-leaf logo-small col-sm-1" style="font-size: 2.5em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-11 pt-2 pl-4">We Value Our Environment</h4>
          </div>
          <p class="pt-1 px-2">We are responsible stewards of the environment and champions for sustainability.</p>
        </div>
    </div>
</div>

<div class="fluid-container mx-5 mt-5">
    <!-- News jumbotron -->
    <div class="jumbotron text-center hoverable p-4">

      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <div class="col-md-7 offset-md-1 mx-3 my-3">
    
          <!-- Featured image -->
          <div class="view overlay waves-light" mdbWavesEffect>
            <img src="http://localhost:4200/assets/team.JPG" width="100%" height="80%" alt="Team">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4 text-md-left ml-3 mt-5">
          <h2 class="row col-sm-10 pb-2 mb-5" style="font: 1.2em 600; color: #4f4f58;">LEADING THE WAY</h2>
          <p class="row col-sm-11 font-weight-normal">Our leadership serves with a focus on maximizing resource value while minimizing — or even eliminating — environmental impact so that both our economy and environment can thrive.</p>
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
    
    </div>
    <!-- News jumbotron -->
</div>

<div class="container mb-5">
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="col-sm-2 fa fa-user-o" style="font-size: 2.5em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10 pt-2">Investors</h4>
          </div>
          <p>As the leading environmental services provider, we have a diverse asset and customer base and an unmatched return on invested capital.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="col-sm-2 fa fa-balance-scale" style="font-size: 2.5em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10 pt-2">Careers</h4>
          </div>
          <p class="px-1">A welcoming culture, unlimited possibilities and a future-minded, sustainable mission. See what makes Waste Management a great place to work.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="col-sm-2 fa fa-plus" style="font-size: 3em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10 pt-2">Suppliers</h4>
          </div>
          <p class="pr-4 text-justify">We’re committed to building a world-class supplier base while developing partnerships with minority, women-owned and service-disabled veteran business enterprises.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="col-sm-2 fa fa-copyright" style="font-size: 2.5em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10 pt-2">Compliance & Ethics</h4>
          </div>
          <p class="pr-4 text-justify">We implement programs and procedures to ensure that we're in full compliance with all legal requirements while exhibiting the highest ethical standards.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="col-sm-2 fa fa-users" style="font-size: 2.5em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10 pt-2">Diversity</h4>
          </div>
          <p>Our commitment to diversity is evident through our conscious efforts to make sure everyone feels seen and heard.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
              <i class="fa fa-twitter col-sm-2" style="font-size: 3.8em; color: green;" aria-hidden="true"></i>
              <h4 class="col-sm-10">Acquisitions & Divestitures</h4>
          </div>
          <p>We are constantly striving to grow through strategic acquisitions and partnerships. Our acquisition team is continually evaluating and pursuing new opportunities.</p>
        </div>
    </div>
</div>