<!-- Footer -->
<footer class="page-footer font-small indigo shadow-lg rounded ">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="nav-link" [routerLink]="['/about']">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="nav-link" [routerLink]="['/products']">Products</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Awards</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="nav-link" [routerLink]="['/contact-us']">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
    
    <section id="lab_social_icon_footer">
        <!-- Include Font Awesome Stylesheet in Header -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="text-center center-block">
                  <a href="https://www.facebook.com/"><i id="social-fb" class="margin-space fa fa-facebook fa-2x social"></i></a>
                  <a href="https://twitter.com/"><i id="social-tw" class="margin-space fa fa-twitter fa-2x social"></i></a>
                  <a href="https://plus.google.com/"><i id="social-gp" class="margin-space fa fa-google-plus fa-2x social"></i></a>
                  <a href="https://www.instagram.com/"><i id="social-insta" class="margin-space fa fa-instagram fa-2x social"></i></a>
                  <a href="https://www.linkedin.com/"><i id="social-linkedin" class="margin-space fa fa-linkedin fa-2x social"></i></a>
                  <a href="https://pinterest.com/"><i id="social-pin" class="margin-space fa fa-pinterest fa-2x social"></i></a>
            </div>
        </div>
    </section>

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 indigo-dark">© 2019 Copyright:
    <a href="http://localhost:4200/">css.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->