<div class="row ml-5 pb-4 mb-5">

  <div class="col-md-4 col-sm-6">
      <mat-card class="example-card shadow-md">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>TEMPORARY DUMPSTER RENTAL</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://localhost:4200/assets/rent-a_dumpster.jpg" height="280" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="content-body">
              {{ "If you're starting a project or you're going to have more waste than usual, a roll-off dumpster can be a great solution. Waste Management offers a variety of roll-offs for almost any need. With competitive pricing and the most reliable service in the business, you can be sure that no matter the amount of waste, we can help you dispose of it." | splitWords:60 }}
          </p>
        </mat-card-content>
<!--         <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>      
  </div>
  
  <div class="col-md-4 col-sm-6">
      <mat-card class="example-card shadow-md">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>RESIDENTIAL WASTE & RECYCLING PICKUP</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://localhost:4200/assets/dump-a-truck.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="content-body">
              {{ "Running a home can be a full-time job and daily garbage disposal is simply part of it. Let Waste Management be your partner in taking care of your trash pickup. We offer a variety of trash collection and recycling services and solutions, no matter your needs. And to make your life easier, in some areas we're able to bundle our most popular trash removal services so you can manage them all in one convenient place." | splitWords:60 }}
          </p>
        </mat-card-content>
      </mat-card>      
  </div>
  
  <div class="col-md-4 col-sm-6">
      <mat-card class="example-card shadow-md">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="pb-3 pt-2">BULK TRASH PICKUP</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://localhost:4200/assets/bulk-trash.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="content-body">
              {{ "Most often, normal trash service can take care of what you need to throw away. When it can’t, Waste Management offers safe and efficient solutions for disposing of those bulk (multiple) or bulky (large) items. For bulk or bulky items, Waste Management offers simple, cost-effective and helpful solutions." | splitWords:60 }}
          </p>
        </mat-card-content>
      </mat-card>      
  </div>

</div>


<div class="row ml-5 pb-4 mb-5">

  <div class="col-md-4 col-sm-6">
      <mat-card class="example-card shadow-md">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>RECYCLING & SUSTAINABILITY SERVICES</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="http://localhost:4200/assets/recycle_bin.JPG" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="content-body">
              {{ "Waste Management is at the forefront of developing new ways for our customers to not only recycle more often, but to do it correctly. We’re committed to ensuring that recycling remains a convenient and viable solution for our communities and our planet through reliable services for homes and businesses, recycling education and technological advancements that are changing the face of recycling and reuse for the next generation." | splitWords:30 }}
          </p>
        </mat-card-content>
<!--         <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>      
  </div>

  <div class="col-md-4 col-sm-6">
      <mat-card class="example-card shadow-md">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>BULBS, BATTERIES & ELECTRONIC WASTE RECYCLE
          </mat-card-title>
<!--           <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="http://localhost:4200/assets/e-waste-recycle.JPG" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="content-body">
              {{ "With Waste Management, recycling goes beyond just bottles, cans and paper. Some things we are used to throwing away can often be safely recycled too, from old TV remotes to batteries to compact fluorescent bulbs and more." | splitWords:30 }}
          </p>
        </mat-card-content>
<!--         <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>      
  </div>
  
  <div class="col-md-4 col-sm-6">
      <mat-card class="example-card my-card-content shadow-md" style="text-align: center;">
          <mat-card-title style="font-size: 1.7em;">BROWSE ALL SERVICES &gt;</mat-card-title>
      </mat-card>      
  </div>

</div>
