<!-- <div class="jumbotron jumbotron-fluid banner">
  <div class="container">
    <!-- <h1 class="display-4 text-white about-us"><b>SERVICE</b></h1> --!>
  </div>
</div> -->
<app-banner-cmp></app-banner-cmp>
<div class="title-section">
	<span>See what we offer</span>
	<p class="main">Our Services</p>
</div>
<div class="services container mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 mb-3">
				<div class="box p-5"> 
					<i class="fa fa-trash-o fa-3x mb-4"></i> <!-- <i class="fa fa-snowflake-o fa-3x mb-4"></i> -->
					<h4>Temporary Dumpster Rental</h4>
					<p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
					<a class="readmore" href="#"><span>Read More</span></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mb-3">
				<div class="box p-5"> 
					<i class="fa fa-trash fa-3x mb-4"></i> <!-- <i class="fa fa-camera-retro fa-3x mb-4"></i> -->
					<h4>Residential Waste & Recycling Pickup</h4>
					<p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
					<a class="readmore" href="#"><span>Read More</span></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mb-3">
				<div class="box p-5"> 
					<i class="fa fa-trash-o fa-3x mb-4"></i> <!-- <i class="fa fa-youtube  fa-3x mb-4"></i> -->
					<h4>Industrial Waste Pickup</h4>
					<p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
					<a class="readmore" href="#"><span>Read More</span></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mb-3">
				<div class="box p-5"> 
					<i class="fa fa-trash fa-3x mb-4"></i> <!-- <i class="fa fa-pencil fa-3x mb-4"></i> -->
					<h4>Recycling & Sustainability Services</h4>
					<p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
					<a class="readmore" href="#"><span>Read More</span></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mb-3">
				<div class="box p-5"> 
					<i class="fa fa-trash-o fa-3x mb-4"></i> <!-- <i class="fa fa-laptop fa-3x mb-4"></i> -->
					<h4>Electronic Waste Recycle</h4>
					<p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
					<a class="readmore" href="#"><span>Read More</span></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mb-3">
				<div class="box p-5"> 
					<i class="fa fa-trash fa-3x mb-4"></i> <!-- <i class="fa fa-mobile fa-3x mb-4"></i>  -->
					<h4>Large Trash Pickup & Bagster Bag</h4>
					<p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
					<a class="readmore" href="#"><span>Read More</span></a>
				</div>
			</div>
			
		</div>
	</div>
</div>